.xp-img {
  height: 255px !important;
  width: 70% !important;
  display: table;
  margin: 0 auto;
  font-family: monospace;
  font-size: 20px;
  object-fit: contain;
}
  
/* FOR THE CAROUSEL */
.carousel-img {
    height: 255px !important;
    width: 75% !important;
    display: table;
    margin: 0 auto;
    font-size: 20px;
    object-fit: contain;
}

@media (max-width: 768px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}
  
.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
display: flex;
}
  
/* display 3 */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33.333%);
    }

    .carousel-inner .carousel-item-left.active, 
    .carousel-inner .carousel-item-prev {
            transform: translateX(-33.333%);
    }
}
  
.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left{ 
    transform: translateX(0);
}