<!-- Allawa ABDAT | Mastermind | Wedoogift | 30/07/2020 -->

<!-- Header -->
<app-wdg-header-strap [titleHeader]="title" [imgPath]="imgPath"></app-wdg-header-strap>
<!-- Header -->


<!-- Content -->
<div class="wdg-container container-fluid my-5 py-5 px-4 px-lg-0" data-aos="fade-down-right" data-aos-duration="1200">
    <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white" data-aos="fade-down-right" data-aos-duration="2000">
        <div class="inner2" style="color: black; margin-top: 5px;">
            <h2 style="font-size:30px" class="inner2">Merci pour votre visite !</h2>
            <hr>
            <div class="inner2">
                <p>Allawa ABDAT</p>
            </div>
        </div>
        </div>
    </div>

<!-- Crée avec ... -->
    <div class="wdg-container">
        <h3 class="text-center py-4" style="font-size: 18px; color: white; background-color: #263238;">Développé avec :</h3>
        <div class="text-center my-3">
            <div class="row mx-auto my-auto">
                <div id="recipeCarousel" class="carousel slide w-100" data-ride="carousel">
                    <div class="carousel-inner w-100" role="listbox">
                        <div class="carousel-item active">
                            <div class="col-md-4">
                                <div class="card card-body">
                                    <img class="img-fluid carousel-img" src="../../assets/angular.png">
                                    <h4 style="font-family: Arial, Helvetica, sans-serif; color: #212121">Angular 9/10</h4>
                                    <a class="btn btn-primary btn-md btn-rounded mx-0" style="margin-top: 10px;" href="https://angular.io/" target="_blank">Site officiel</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4">
                                <div class="card card-body">
                                    <img class="img-fluid carousel-img" src="../../assets/bootstrap.png">
                                    <h4 style="font-family: Arial, Helvetica, sans-serif; color: #212121">Bootstrap</h4>
                                    <a class="btn btn-primary btn-md btn-rounded mx-0" style="margin-top: 10px;" href="https://getbootstrap.com/" target="_blank">Site officiel</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4">
                                <div class="card card-body">
                                    <img class="img-fluid carousel-img" src="../../assets/mdb.png">
                                    <h4 style="font-family: Arial, Helvetica, sans-serif; color: #212121">MDB</h4>
                                    <a class="btn btn-primary btn-md btn-rounded mx-0" style="margin-top: 10px;" href="https://mdbootstrap.com/" target="_blank">Site officiel</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="col-md-4">
                                <div class="card card-body">
                                    <img class="img-fluid carousel-img" src="../../assets/firebase.jpg">
                                    <h4 style="font-family: Arial, Helvetica, sans-serif; color: #212121">Firebase</h4>
                                    <a class="btn btn-primary btn-md btn-rounded mx-0" style="margin-top: 10px;" href="https://firebase.google.com/" target="_blank">Site officiel</a>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                        <div class="col-md-4">
                            <div class="card card-body">
                                <img class="img-fluid carousel-img" src="../../assets/icons8-icons8-144.png">
                                <h4 style="font-family: Arial, Helvetica, sans-serif; color: #212121">Icons8</h4>
                                <a class="btn btn-primary btn-md btn-rounded mx-0" style="margin-top: 10px;" href="https://icones8.fr/" target="_blank">Site officiel</a>
                            </div>
                        </div>
                        </div>
                        <div class="carousel-item">
                        <div class="col-md-4">
                            <div class="card card-body">
                                <img class="img-fluid carousel-img" src="../../assets/aos.png">
                                <h4 style="font-family: Arial, Helvetica, sans-serif; color: #212121">AOS</h4>
                                <a class="btn btn-primary btn-md btn-rounded mx-0" style="margin-top: 10px;" href="https://michalsnik.github.io/aos/" target="_blank">Site officiel</a>
                            </div>
                        </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev w-auto" href="#recipeCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next w-auto" href="#recipeCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon bg-dark border border-dark rounded-circle" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>