<!-- Allawa ABDAT | Mastermind | Wedoogift | 30/07/2020 -->

<!-- Header -->
<app-wdg-header-strap [titleHeader]="title" [imgPath]="imgPath"></app-wdg-header-strap>
<!-- Header -->


<!-- Content -->
<div class="wdg-container container-fluid my-5 py-5 px-4 px-lg-0"  data-aos="fade-down-right" data-aos-duration="1200">
    <!-- Title -->
    <h3 class="wdg-text" style="text-align:center; color: black"> Choisissez vos couleurs (4 maximum) </h3>

    <!-- We start to list our items/colors -->
    <!-- (rouge (R), jaune (J), bleu (B), orange (O), vert (V), noir (N) -->
    <!-- Using *ngFor structural directives to create elements into the DOM -->
    <div style="margin-top:35px;" class="choices">
        <div class="row col-md-12 wdg-choices-list">
            <div class="wdg-media" *ngFor='let clr of tabColor' style="margin-left: 15px" class="item {{clr.color}}" (click)="selectColor(clr.color)"></div>
        </div>
    </div>
    <br>


    <!-- Color selected -->
    <h3 class="wdg-text" style="margin-top: 10px;">Selection en cours :</h3>

    <div class="wdg-display-center row selection">
        <div class="row col-md-12 wdg-choices-list">
            <div *ngFor="let selectedClr of selectedColors" class="selection-item {{selectedClr}}" style="margin-left: 15px; margin-right:15px;"></div>
        </div>
    </div>


    <!-- Hint/Clue/Try -->
    <h3 class="wdg-text" style="margin-top: 25px;">Tentatives :</h3>
    <!-- How many try -->
    <div>
        <p class="wdg-text">{{guesses}}/10</p>
    </div>

    <!-- Title -->
    <h3 class="wdg-history-title-text">Historique (Couleurs) :</h3>

    <!-- Display history and hints for each row -->
    <div class="wdg-display-center row">
        <div class="wdg-choices-list">
            <div style="margin-top: 10px;" *ngFor="let lastHintT of lastHintsTable.reverse(); let i = index">
                <div class="wdg-media-history row" style="object-fit: fill; border-style: groove;">
                    <!--<div class="column">
                        <p style="color: black;">Essai N° {{i+1}}</p>
                    </div>-->
                    <div class="history-item {{lastHintT[1][0]}}"></div>
                    <div class="history-item {{lastHintT[1][1]}}"></div>
                    <div class="history-item {{lastHintT[1][2]}}"></div>
                    <div class="history-item {{lastHintT[1][3]}}"></div>
                    <br>
                    <div style="margin-top: 10px; margin-right: 10px;" class="column">
                        <p class="wdg-hints">Couleur(s) Juste(s) mais mal placée : {{lastHintT[0][0]}}</p>
                        <p class="wdg-hints">Couleur(s) Juste(s) et bien placée : {{lastHintT[0][1]}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
