/**
 * Allawa ABDAT | Mastermind | Wedoogift | 30/07/2020
 */

.wdg-container {
    margin-left: 15px; 
    margin-right:15px; 
    margin: 0 auto; 
    width: 100%; 
    background-color: #fafafa;
}

.wdg-text {
    text-align:center; 
    color: black
}

.wdg-history-title-text {
    color: black; 
    justify-content: center; 
    text-align: center; 
    margin: 0 auto; 
    place-content: center;
}

.wdg-choices-list {
    justify-content: center; 
    text-align: center; 
    margin: 0 auto; 
    place-content: center;
}

.wdg-display-center {
    margin-left: 15px; 
    text-align: center; 
    justify-content: center;
}

.wdg-hints {
    font-size: 14px; 
    color: black;
}

.item,
.selection-item,
.history-item {
    width: 75px;
    height: 75px;
    border-radius: 20px;
    margin-left: 15px; 
    margin-right: 15px;
    margin-top: 5px;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.green {
    background-color: green;
}

.black {
    background-color: black;
}

.full {
    width: 25px;
    height: 25px;
    background-color: red;
}

.half {
    width: 25px;
    height: 25px;
    background-color: purple;
}

@media screen and (max-width: 1200px) {
    .wdg-media {
        margin-top: 4px;
    }
    .wdg-media-history {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-top: 20px;
    }
    .wdg-display-center {
        margin-left: 0px;
    }
    .wdg-text {
        font-size: 18px;
    }
    .wdg-history-title-text {
        font-size: 18px;
    }
    .history-item {
        width: 50px;
        height: 50px;
    }
}