<!-- Allawa ABDAT | Mastermind | Wedoogift | 30/07/2020 -->

<!-- Header -->
<app-wdg-header-strap [titleHeader]="title" [imgPath]="imgPath"></app-wdg-header-strap>
<!-- Header -->

<!-- Content -->
<div class="container-fluid my-5 py-5 px-4 px-lg-0" style="margin-left: 15px; margin-right:15px; margin: 0 auto; width: 100%; background-color: #fafafa; color:black">
    <div style="margin: 0 auto">
        <!-- Dummy presentation -->
        <div style="text-align: center;">
            <br>
            <h3><u>MasterMind | Wedoogift Test | Allawa ABDAT</u></h3>

            <br>
            <span> Les règles sont les suivantes :</span>
            <br><br>
            <span>Vous avez 10 tours pour trouver la bonne combinaison.</span>
            <br>
            <span> Vous devez choisir à chaque tour, 4 couleurs. Ni plus, ni moins.</span>
            <br>
            <span>Afin de vous aider, un historique sera généré dès lors que vous commencerez votre partie.</span>
            <br><br>
            <p> Bonne chance ! </p><br><br><br>
        </div>
    </div>
</div>
<!-- Content -->
